@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

        table tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }

    .divList {
        padding-top: 40px;
    }

    .btnGreen {
        color: white;
        background-color: green;
        cursor: pointer;
    }

    .btnRed {
        color: white;
        background-color: red;
        cursor: pointer;
    }
</style>

<div ng-controller="myCntrl">

    <span ng-click="AddEmployeeDiv()" class="btnGreen">Add Employee
    </span>

    <div class="divList">

        <table cellpadding="12">
            <tr>
                <th>Id
                </th>
                <th>Name
                </th>
                <th>Address
                </th>
                <th>Department
                </th>
                <th>Dob
                </th>
                <th>Doj
                </th>
                <th>Salary
                </th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="employee in employees  | orderBy:'Id'">
                <td>{{employee.Id}}
                </td>
                <td>{{employee.Name}}
                </td>
                <td>{{employee.Address}}
                </td>
                <td>{{employee.Department}}
                </td>
                <td>{{employee.Dob}}
                </td>
                <td>{{employee.Doj}}
                </td>
                <td>{{employee.Salary| currency}}
                </td>
                <td>
                    <span ng-click="editEmployee(employee)" class="btnGreen">Edit</span> | 
                    <span ng-click="deleteEmployee(employee)" class="btnRed">Delete</span>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <span>Showing {{(employees| filter:listfilter).length}} of {{employees.length}}</span></td>
            </tr>
        </table>
    </div>
    <form name="myForm">
        <div ng-show="divEmployee">
            <p class="divHead">{{Action}} Employee</p>
            <table>
                <tr>
                    <td><b>Id</b></td>
                    <td>
                        <input type="text" disabled="disabled"  ng-model="employeeId"  />
                        
                    </td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td>
                        <input type="text" name="EmpName" ng-model="employeeName" required autofocus/>
                        <span class="error" ng-show="myForm.EmpName.$error.required">Required!</span><br>
                    </td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>
                        <input type="text" name="empAddress" ng-model="employeeAddress"required autofocus/>
                        <span class="error" ng-show="myForm.empAddress.$error.required">Required!</span><br>
                    </td>
                </tr>
                <tr>
                    <td><b>Department</b></td>
                    <td>
                        <input type="text" ng-model="employeeDepartment" />
                    </td>
                </tr>
                <tr>
                    <td><b>Date Of Birth</b></td>
                    <td>
                        <input class="datepicker" datepicker ng-model="employeeDob" />
                    </td>
                </tr>
                <tr>
                    <td><b>Date Of Joining</b></td>
                    <td>
                        <input class="datepicker" datepicker ng-model="employeeDoj" />
                    </td>
                </tr>
                <tr>
                    <td><b>Salary</b></td>
                    <td>
                        <input type="text" name="empSalary" ng-model="employeeSalary" required autofocus/>
                        <span class="error" ng-show="myForm.empSalary.$error.required">Required!</span><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" class="btnGreen" value="Save" ng-disabled="(myForm.EmpName.$error.required||myForm.empAddress.$error.required||myForm.empSalary.$error.required)" ng-click="AddUpdateEmployee()" />

                        <input type="button" class="btnGreen" value="Cancel" ng-click="CloseEmployeeDiv()" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
